@{
    ViewData["Title"] = "Course that enrolled";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Course Number</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">1</th>
                <th class="text-center">208263</th>
                <th class="text-left">ELEMENTARY STATISTICS</th>
            </tr>
            <tr>
                <th class="text-center">2</th>
                <th class="text-center">259109</th>
                <th class="text-left">TELECOM IN THAILAND</th>
            </tr>
            <tr>
                <th class="text-center">3</th>
                <th class="text-center">261111</th>
                <th class="text-left">INTERNET AND ONLINE COMMUNITY</th>
            </tr>
            <tr>
                <th class="text-center">4</th>
                <th class="text-center">953321</th>
                <th class="text-left">SOFTWARE REQUIREMENT ANALYSIS</th>
            </tr>
            <tr>
                <th class="text-center">5</th>
                <th class="text-center">953322</th>
                <th class="text-left">SOFTWARE DESIGN & ARCH</th>
            </tr>
            <tr>
                <th class="text-center">6</th>
                <th class="text-center">953331</th>
                <th class="text-left">COMPO-BASED SOFTWARE DEV</th>
            </tr>
        </tbody>
    </table>
</div>