@model IEnumerable<WebApplication1.Models.Product>
@{
    ViewData["Title"] = "ListProduct";
}

<h1>List Product</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    @foreach ((Product p, int index) in Model.Select((value, i) => (value, i)))
    {
        <tr>
            <td>@p.ProductName</td>
            <td>@p.ProductPrice</td>
            <td>@p.ProductStockQuantity</td>
            <td>
                @Html.ActionLink(">> Detail", "ProductDetail", new { pid = index })
            </td>
        </tr>
    }
</table>